<center>
    <img src="https://gitlab.com/ibm/skills-network/courses/placeholder101/-/raw/master/labs/module%201/images/IDSNlogo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

# Peer Review Assignment - Data Engineer - Extract API Data

Estimated time needed: **20** minutes

## Objectives

In this part you will:

*   Collect exchange rate data using an API
*   Store the data as a CSV

For this lab, we are going to be using Python and several Python libraries. Some of these libraries might be installed in your lab environment or in SN Labs. Others may need to be installed by you. The cells below will install these libraries when executed.

In [1]:
#!pip install pandas
#!pip install requests

## Imports

Import any additional libraries you may need here.

In [2]:
import requests
import pandas as pd

## Extract Data Using an API

Using ExchangeRate-API we will extract currency exchange rate data. Use the below steps to get the access key and to get the data.

1.  Open the url : [https://exchangeratesapi.io/](https://exchangeratesapi.io/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2021-01-01) and create a free account.
2.  Once the account is created. You will get the Get the Free API key option on the top as shown below:

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Final%20Assignment/Images/getapi.png"/>

3.  Copy the API key and use in the url in Question 1.

### Call the API

<b> Question 1</b> Using the `requests` library call the endpoint given above and save the text, remember the first few characters of the output:

In [17]:
# Write your code here
import requests
url = "http://api.exchangeratesapi.io/v1/latest?base=EUR&access_key=*****"  #Make sure to change ******* to your API key.
json_data = requests.get(url).text

### Save as DataFrame

<b> Question 2</b>  Using the data gathered turn it into a `pandas` dataframe. The dataframe should have the Currency as the index and `Rate` as their columns. Make sure to drop unnecessary columns.

In [28]:
# Turn the data into a dataframe
data = pd.read_json(json_data)
data

     success           timestamp base       date         rates
AED     True 2022-01-04 14:59:04  EUR 2022-01-04      4.144452
AFN     True 2022-01-04 14:59:04  EUR 2022-01-04    118.366103
ALL     True 2022-01-04 14:59:04  EUR 2022-01-04    119.886364
AMD     True 2022-01-04 14:59:04  EUR 2022-01-04    544.201872
ANG     True 2022-01-04 14:59:04  EUR 2022-01-04      2.032711
..       ...                 ...  ...        ...           ...
YER     True 2022-01-04 14:59:04  EUR 2022-01-04    282.368353
ZAR     True 2022-01-04 14:59:04  EUR 2022-01-04     18.106380
ZMK     True 2022-01-04 14:59:04  EUR 2022-01-04  10156.445070
ZMW     True 2022-01-04 14:59:04  EUR 2022-01-04     18.864138
ZWL     True 2022-01-04 14:59:04  EUR 2022-01-04    363.326122

[168 rows x 5 columns]

In [30]:
# Drop unnescessary columns
newdata = data.drop(["success", "timestamp","base","date"], axis=1).rename(columns={"rates":"Rate"})
newdata

             Rate
AED      4.144452
AFN    118.366103
ALL    119.886364
AMD    544.201872
ANG      2.032711
..            ...
YER    282.368353
ZAR     18.106380
ZMK  10156.445070
ZMW     18.864138
ZWL    363.326122

[168 rows x 1 columns]

### Load the Data

Using the dataframe save it as a CSV names `exchange_rates_1.csv`.

In [31]:
# Save the Dataframe
with open("exchange_rates_1.csv","w") as openfile:
    openfile.write(newdata.to_csv())

Your CSV should be in this format with more currencies

|     | Rates      |
| --- | ---------- |
| AED | 4.398618   |
| AFN | 92.917693  |
| ALL | 123.099093 |
| AMD | 621.935674 |
| ANG | 2.149648   |

## Authors

Ramesh Sannareddy, Joseph Santarcangelo and Azim Hirjani

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2021-04-15        | 0.2     | Malika            | Updated the lab from USD to EUR    |
| 2020-11-25        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).